<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>

<header>
    <div class="container-fluid" style="background-color: #071fd4;">
        <input type="checkbox" id="check">
        <label id="icone" for="check"><img src="../static/img/logo.png" alt="logo" /></label>
            
        <div class="barra">

            <nav>
                <a href="/index"><div class="link">Eu</div></a>
                <a href="/port"><div class="link">Portfólio</div></a>
                <a href="/int"><div class="link">Interesses</div></a>
            </nav>

        </div>
    </div>
</header>


<main>
    <body style="background-color: #ecedf5;">
        <div class="container-fluid">
            <div class="inicio">
                <div class="texto"><h2>Jonatas Mathias Dalló</h2></div>
                <div><img class="foto" src="../static/img/minha foto.jpeg"></div>
            </div>
        </div>

        
        <div class="container">
            <hr>
            
            <div>
                <h1 class="texto">Sobre mim</h1>
                <hr>

                <p class="a"> Me chamo Jonatas uma pessoa calma, tranquila, introvertida, inteligente e divertida que gosta de fazer caminhadas, ler, jogar, filosófia e assistir filmes, series e anime. Estou estudando para me tornar um programador e futuramente empreendedor, com o sonho de cotninuar aproveitando a fica bem todo dia, mais ainda melhor.</p>
            </div>
            <hr>

            <div>
                <h1 class="texto">Historico educacional</h1>
                <hr>

                <p class="a">Fiz meu fundamental na escola EMEF Prof. Luiz leite, uma escola publica no bairo Balo Branco, que ficava perto da Embraer e de um jequitibá, conhecida como uma das maiores arvores.</p>
                
                <div class="row">
                    <div class="col-sm-6"> <img src="../static/img/emef.jpg" alt=""></div>
                    <div class="col-sm-6"> <img src="../static/img/emef2.jpg" alt=""></div>
                </div>

                <p class="a"> Depois que terminei o 9 ano, fui para a escola Francisco Pereira da Silva, uma escola publica de ensino medio integral, onde tive contato com muitas coisas novas que abriram minha cabeça, além de me ajudar a decidir o que eu queria pro meu futuro, sendo onde nasceu minha vontade de ser programador.</p>
                <p class="a"> Uma curiosidade, foi que eu consegui entrar no ultimo ano, em que os pais morando longe podiam inscrever seus filhos, pois no ano seguinte foi implementado um sistema, do qual os alunos iam do fundamental para a escola de ensino medio mais perto.</p>
            
            </div>
            <hr>

            <div>
                <h5>Contatos</h5>

                <lo>
                    <a href="https://github.com/Jonatas-Dallo" target="_blank"><li>Github</li></a>
                    <a href="https://www.linkedin.com/in/jonatas-dall%C3%B3-147638206/" target="_blank"><li>Linkedin</li></a>
                    <li>Email: jonatasmathiasdallo@gmail.com</li>
                </lo>

            </div>
            <hr>

        </div>
    </body>
</main>
</html>
