<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>

    Dados do proprietário do sistema (autor da página/aplicação web); <br>
    
    a.Uma foto que contenha efeitos de redimensionamento e filtro; <br>
    b.Informações educacionais; <br>
    c.Outras informações pertinentes (interesses, etc.). <br>
    
</body>
</html>