<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/style.css">
    <title>Projetos</title>
</head>

<body>

    <div class="barra">

        <nav>
            <a href="index.html"><div class="link">Sobre mim</div></a>
            <a href="pagina 2.html"><div class="link">Portfólio</div></a>
            <a href="pagina 3.html"><div class="link">Projeto</div></a>

        </nav>

    </div> 
    
    Outras informações relevantes ou de interesse do autor/proprietário. 

</body>
</html>