*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	appearance: none;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	border-width: 0px;
	text-size-adjust: 100%;
	width: 100%;
}
/** reseta as config da pagina pra padrão**/
body{
	width: 100%;
}

.barra{
    background-color: rgb(209, 209, 209);;
    height: 100%;
    width: 150px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}

.link{
    color: #000000;
    padding: 20px;
    font-family: Arial;
    font-size: 15pt;
    transition: all .2s linear;
    border-bottom: 2px solid #222;
	border-top: 1px solid #222;
    opacity: 0;
    margin-top: 200px;
}

.link:houver{
    background-color: #050542;
}

#check{
    display: none;
}

#icone{
	width: 60px;
	height: 60px;
    cursor: pointer;
    padding: 5px;
    z-index: 1;
}

nav{
    width: 100%;
    position: absolute;
}

nav a{
    text-decoration: none;
	margin-top: 2%;
}

#check:checked ~ .barra{
    transform: translate(300px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
	margin-top: 2%;
}

/** fim nav bar **/

.inicio{
	text-align: center;
}

.foto{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-bottom: 1%;
}

.texto{
	text-align: center;
}

.a{
	justify-content: center;
	padding-left: 1%;
	font-size: large;
}

.nome{
	padding: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/**            **/

@media (max-width: 800px) {
 .menu ul{
 	display:block;
 }
}

 /* link que foi visitado */
 a:visited {
	color: inherit;
 }
/* muda a cor das palavras com link */
 
