.App {
  font-family: sans-serif;
  text-align: center;
}

.section {
  height: 100vh; /* Cada seção ocupa a altura total da viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(50px);
  transition: opacity 3s ease-out, transform 3s ease-out; /* Ajuste a duração de transição */
  color: beige;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
